body {
    background-color: rgb(178, 155, 228);
    min-height: 100vh;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;


}

img {
    width: 300px;
    height: auto;
    margin: 40px;
    margin-bottom: 3px;
}

.number-of-rounds {
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
}


.scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    padding: 25px;
    margin: 30px;
    align-items: center;

}

.scoreboard__name,
.scoreboard__score {
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.scoreboard__name {
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

p {
    text-align: center;
}

.display-winner {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(240, 255, 202);
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}
